@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background-image: url('../public/hero-bg.jpg');
}
html, body, #root {
  height: 100%;
  margin: 0;
  background: #000; 
}

@keyframes scaleIn {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}
.animate-scaleIn {
  animation: scaleIn 0.25s ease-out forwards;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #475569; /* slate-600 */
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; /* slate-900 */
}
  
  